[Unit]
Description=Qwen LLM Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/llm-deployment-server
ExecStart=/home/ubuntu/llm-deployment-server/llm_venv/bin/python /home/ubuntu/llm-deployment-server/llm_venv/bin/swift deploy --model Qwen/Qwen2.5-7B-Instruct --infer_backend pt --port 9088 --host 0.0.0.0
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target